.App {
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 2px;
  top: 20px;
  z-index: 1;
}

.home::-webkit-scrollbar {
  width: 5px;
  height: 7.5px;
}

.home::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.home::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(165, 165, 165, 0.5);
}

.home::-webkit-scrollbar-thumb:hover {
  width: 15px;
  background: rgba(165, 165, 165, 0.75);
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 7.5px;
}

.sidebar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(165, 165, 165, 0.5);
}

.sidebar::-webkit-scrollbar-thumb:hover {
  width: 15px;
  background: rgba(165, 165, 165, 0.75);
}

body::-webkit-scrollbar {
  width: 5px;
  height: 7.5px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(165, 165, 165, 0.5);
}

body::-webkit-scrollbar-thumb:hover {
  width: 15px;
  background: rgba(165, 165, 165, 0.75);
}

textarea::-webkit-scrollbar {
  width: 5px;
  height: 7.5px;
}

textarea::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(165, 165, 165, 0.5);
}

textarea::-webkit-scrollbar-thumb:hover {
  width: 15px;
  background: rgba(165, 165, 165, 0.75);
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 7.5px;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(165, 165, 165, 0.5);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  width: 15px;
  background: rgba(165, 165, 165, 0.75);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1024px) {
  .header {
    grid-template-columns: 1fr auto;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: transparent;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: gray !important;
}
.spin{
  animation: spin 15s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
